.aditional-goods {
  margin-bottom: 34px;
}

.aditional-goods__title {
  display: flex;

  margin: 40px 0 0;
  padding: 0 0 34px calc((100% - 280px) / 2);

  border-top: 3px solid $color-bg-btn;

  color: #111111;

  font-family: $title-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.aditional-goods__title span {
  margin-top: -16px;
  margin-left: -20px;
  padding-right: 22px;
  padding-left: 20px;

  background-color: #ffffff;
}

.aditional-goods__wrapper {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.aditional-goods__list {
  margin: 0 -2px;
  padding: 0;

  list-style: none;
}

.aditional-goods__item {
  color: $color-text;
  border-top: 1px solid #cdcdcd;

  font-family: $main-font;
  font-size: 14px;
  line-height: 14px;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.aditional-goods__gift {
  position: relative;

  display: block;

  width: auto;
  height: 289px;
  margin-top: 38px;

  background: url("../img/gift-photo-mobile@1x.jpg"), #62a639;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .aditional-goods__gift {
    background: url("../img/gift-photo-mobile@2x.jpg"), #62a639;
    background-size: 280px auto;
  }
}

.aditional-goods__gift-text {
  padding: 186px 60px 0;

  text-align: center;

  color: #ffffff;

  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;

  &::before {
    position: absolute;
    top: 64px;
    left: 50%;

    width: 55px;
    height: 60px;

    content: " ";
    transform: translate(-50%);

    background: url("../img/icon-gift.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .aditional-goods__title {
    margin-top: 30px;
    padding-bottom: 66px;
    padding-left: calc((100% - 680px) / 2);

    @include section-title;
  }

  .aditional-goods__title span {
    margin-top: -35px;
    padding-right: 41px;
    padding-left: 41px;
  }

  .aditional-goods__wrapper {
    width: $tablet-width;
    padding-right: 30px;
    padding-left: 34px;
  }

  .aditional-goods__item {
    padding: 4px 37px 26px 38px;

    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;

    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .aditional-goods__gift {
    height: 200px;
    margin-top: 70px;
    margin-bottom: 75px;

    background: url("../img/gift-photo-tablet@1x.jpg"), #62a639;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .aditional-goods__gift {
      background: url("../img/gift-photo-tablet@2x.jpg"), #62a639;
      background-size: 708px auto;
    }
  }

  .aditional-goods__gift-text {
    max-width: 165px;
    padding: 70px 0 0 420px;

    text-align: left;

    &::before {
      left: 118px;
    }
  }
}

@media (min-width: $desktop-width) {
  .aditional-goods {
    margin-bottom: 180px;
  }

  .aditional-goods__title {
    padding-bottom: 68px;
    padding-left: calc((100% - 1300px) / 2);
  }

  .aditional-goods__title span {
    margin-top: -37px;
    margin-left: 0;
    padding-right: 36px;
    padding-left: 39px;
  }

  .aditional-goods__wrapper {
    display: flex;
    justify-content: space-between;

    width: $desktop-width;
    padding-right: 40px;
    padding-left: 31px;
  }

  .aditional-goods__list {
    width: 928px;
  }

  .aditional-goods__item {
    display: flex;

    min-height: 72px;
    margin-right: 20px;
    padding: 0 0 0 10px;

    border: none;
    border-top: 1px solid #cdcdcd;
  }

  .aditional-goods__gift {
    min-height: 288px;
    height: auto;
    width: 245px;
    margin: 0;

    background: url("../img/gift-photo-desktop@1x.jpg"), #62a639;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .aditional-goods__gift {
      background: url("../img/gift-photo-desktop@2x.jpg"), #62a639;
      background-size: 245px auto;
    }
  }

  .aditional-goods__gift-text {
    max-width: 245px;
    padding-top: 172px;
    padding-right: 0;
    padding-left: 0;

    text-align: center;
  }
}
