.aditional__property {
  display: table;

  width: 100%;
  padding-bottom: 17px;
}

.aditional__item-title {
  display: table-caption;

  padding: 0 0 11px 2px;

  text-align: left;
  text-transform: uppercase;

  @include section-title(#222222,16px,16px);
}

.aditional__cost {
  text-align: right;
  text-transform: uppercase;
}

.aditional__button {
  min-width: 280px;
  margin-bottom: 18px;
  padding-top: 11px;

  font-size: 16px;
  line-height: 20px;
}
