.company-goods__wrapper {
  min-height: 480px;

  text-align: center;

  border-top: 1px solid $color-border;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center top, linear-gradient(to bottom, $color-bg 70%, #ffffff 30%);
  background-repeat: no-repeat;
  background-position: top, center -31px;
  background-size: 320px auto, 100% auto;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .company-goods__wrapper {
    background: url("../img/index-background-mobile@2x.jpg") no-repeat center top, linear-gradient(to bottom, $color-bg 306px, #ffffff calc(100% - 306px));
    background-size: 320px auto;
  }
}

.company-goods__container {
  margin-bottom: 22px;

  @include mobile-center;
}

.company-goods__main-title {
  margin: 0;
  padding: 26px 0 27px;

  @include section-title(#ffffff, 36px, 36px);
}

.company-goods__tagline {
  margin: 0;
  padding: 0 0 28px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: $title-font;
  line-height: 14px;
}

.company-goods__button {
  padding-top: 10px;
}

.company-goods__program {
  @include mobile-center;
}

@media (min-width: $tablet-width) {
  .company-goods__wrapper {
    margin-bottom: -3px;
    border-top: none;
    background: #ffffff;
    background-image: none;
  }

  .company-goods__container {
    position: relative;
    margin-bottom: 0;
    text-align: center;

    @include tablet-center;
  }

  .company-goods__main-title {
    max-width: 505px;
    padding-top: 47px;
    padding-bottom: 43px;
    padding-left: 87px;
    text-align: left;

    @include section-title($color-title, 60px, 60px);
  }

  .company-goods__tagline {
    padding-bottom: 18px;
    padding-left: 89px;
    text-align: left;
    text-transform: uppercase;
    color: $color-title;
    font-family: $title-font;

    @include tablet-fonts;
  }

  .company-goods__image {
    width: 709px;
    height: 609px;
  }

  .company-goods__button {
    position: absolute;
    top: 275px;
    left: 118px;
    height: 52px;
    padding-top: 17px;

    @include tablet-fonts;
  }

  .company-goods__program {
    @include tablet-center;
  }
}

@media (min-width: $desktop-width) {
  .company-goods {
    z-index: -1;
    margin-top: -140px;
    margin-right: auto;
    margin-left: auto;
  }

  .company-goods__wrapper {
    margin-right: auto;
    margin-left: auto;

    background: url("../img/index-background-desktop@1x.jpg") calc(50% + 360px), linear-gradient(to right, #ffffff 50%, $color-bg 50%) center;
    background-repeat: no-repeat;
    background-size: auto, auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .company-good__wrapper {
      margin-right: auto;
      margin-left: auto;

      background: url("../img/index-background-desktop@2x.jpg") calc(50% + 360px), linear-gradient(to right, #ffffff 50%, $color-bg 50%) center;
      background-repeat: no-repeat;
      background-size: 720px auto, auto;
    }
  }

  .company-goods__container {
    position: relative;
    max-width: 1300px;
    min-height: 695px;
    margin-bottom: 83px;

    @include desktop-center;
  }

  .company-goods__main-title {
    z-index: -15;
    max-width: 500px;
    padding-top: 222px;
    padding-left: 80px;
  }

  .company-goods__tagline {
    padding-bottom: 50px;
    padding-left: 80px;
  }

  .company-goods__image {
    position: absolute;
    top: 142px;
    left: calc(50%);
    width: auto;
    height: 499px;
    transform: translate(-160px);
  }

  .company-goods__button {
    position: relative;
    top: 0;
    max-width: 245px;
    height: 55px;
    margin-left: -40px;
  }

  .company-goods__program {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .company-goods__wrapper {
    background-position: calc(50% + 360px), center;
  }
}
