.contact {
  background-color: #ffffff;

  &--catalog,
  &--form {
    background-color: $color-bg-block;
  }
}

.contact__text {
  display: flex;
  justify-content: flex-start;

  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 28px 19px 25px;
}

.contact__text-invitation {
  display: block;

  max-width: 43%;
  margin: 0 20px 0 0;
  padding: 0;

  text-transform: uppercase;

  color: $color-title;

  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
}

.contact__text-adress {
  display: block;

  margin: 0;
  padding: 0;

  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
}

.contact__text-city {
  display: block;

  margin: 0;
  padding: 2px 0 0;
}

.contact__map {
  position: relative;

  height: 364px;

  background: url("../img/bg-map-mobile@1x.png") no-repeat, #f2f2f2;
  background-position: center top -37px;
  background-size: 320px auto;
}

@media (min-width: $tablet-width) {
  .contact--catalog,
  .contact--form {
    background-color: $color-bg-block;
  }

  .contact__text {
    max-width: $tablet-width;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 29px 60px 72px;
  }

  .contact__text-invitation {
    max-width: 200px;
    margin: 0 271px 0 0;
    padding: 0;

    text-transform: uppercase;

    font-family: $title-font;
    font-size: 20px;
    line-height: 25px;
  }

  .contact__text-wrapper {
    max-width: 200px;
    padding-right: 42px;

    text-align: right;
  }

  .contact__text-adress {
    font-size: 16px;
  }

  .contact__text-city {
    padding-top: 20px;

    font-size: 16px;
  }

  .contact__map {
    position: relative;

    height: 394px;

    background: url("../img/bg-map-tablet@1x.png") no-repeat, #f2f2f2;
    background-position: center top -7px;
    background-clip: content-box;
    background-size: 767px auto;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    position: relative;

    background-color: #f2f2f2;
  }

  .contact__text {
    position: relative;
    z-index: 15;

    justify-content: space-between;

    width: 570px;
    margin-left: calc((100% - 1220px) / 2);
    padding: 66px 0 62px 77px;

    background-color: #ffffff;
  }

  .contact__text-invitation {
    max-width: 235px;
    margin-right: 10px;
  }

  .contact__text-wrapper {
    max-width: 245px;
    padding-right: 52px;

    text-align: left;
  }

  .contact__map {
    position: relative;

    height: 400px;
    margin-top: -300px;

    background: url("../img/bg-map-desktop@1x.png") no-repeat, #f2f2f2;
    background-position: center;
    background-clip: content-box;
    background-size: 1440px auto;
  }
}
