.main-logo__image {
  margin-top: 11px;
  margin-bottom: 9px;

  opacity: 1;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .main-logo__image {
    width: 173px;
    height: 58px;
    margin-top: 24px;
    margin-bottom: 8px;
    margin-left: 2px;
  }
}

@media (min-width: $desktop-width) {
  .main-logo__image {
    width: 202px;
    height: 59px;
    margin-top: 25px;
  }
}
