@media (max-width: 767px) {
  .main-nav {
    width: 100%;

    text-align: center;

    &--open {
      display: block;
    }

    &--closed {
      display: none;
    }

    &--nojs {
      display: block;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  text-transform: uppercase;

  font-family: $title-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 23px;

  border-top: 1px solid $color-border;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-width: 440px;
    padding-top: 42px;
    padding-left: 3px;

    font-weight: normal;

    @include tablet-fonts (18px, 25px);
  }

  .main-nav__item {
    padding: 0;

    border-top: 0;

    &--active a {
      padding-bottom: 7px;

      border-bottom: 2px solid $color-bg-btn;
    }
  }

  .main-nav a {
    color: #222222;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    min-width: 480px;

    @include tablet-fonts (20px, 25px);
  }

  .main-nav a {
    z-index: 15;

    color: #ffffff;
  }

  .main-nav--catalog a,
  .main-nav--form a {
    color: $color-title;
  }

  .main-nav__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }

    &--active a {
      border: none;
    }
  }

  .main-nav--index .main-nav__item {
    padding-bottom: 10px;

    &--active {
      border-bottom: 2px solid #ffffff;
    }
  }

  .main-nav--catalog .main-nav__item,
  .main-nav--form .main-nav__item {
    padding-bottom: 8px;

    &--active {
      border-bottom: 2px solid $color-bg-btn;
    }
  }
}
