.slider {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

.slider__thin-cat {
  position: relative;

  width: 0;
  height: 240px;

  background: url("../img/after-mobile@1x.png") no-repeat;
  background-position: center;
}

.slider__fat-cat {
  position: relative;

  width: 100%;
  height: 240px;

  background: url("../img/before-mobile@1x.png") no-repeat;
  background-position: -20px;
  background-size: 320px auto;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .slider__thin-cat {
    background: url("../img/after-mobile@2x.png") no-repeat;
    background-size: 320px auto;
  }

  .slider__fat-cat {
    background: url("../img/before-mobile@2x.png") no-repeat;
    background-position: -20px;
    background-size: 320px auto;
  }
}

.slider__frame {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 200px;
  margin: 32px auto 35px;
}

.slider__scale {
  position: relative;

  width: 84px;
  height: 14px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 3px;

  border: 1px solid #cdcdcd;
  border-radius: 6px;
  background-color: #ffffff;
}

.slider__scale-wrapper {
  width: 35px;
  height: 6px;

  border-radius: 3px;
  background-color: $color-bg-btn;
}

.slider__after,
.slider__before {
  text-transform: uppercase;

  color: $color-title;
  border: none;
  background-color: inherit;

  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
}

.slider__before {
  padding-left: 3px;
}

.slider__after {
  padding-right: 0;
  padding-left: 1px;

  text-align: right;
}

.slider__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;

    width: 690px;
    margin-right: auto;
    margin-left: auto;
  }

  .slider__thin-cat {
    position: relative;

    width: 50%;
    height: 517px;

    background: url("../img/after-tablet@1x.png") no-repeat;
    background-position: 98%;
    background-size: 690px auto;
  }

  .slider__fat-cat {
    width: 50%;
    height: 517px;

    background: url("../img/before-tablet@1x.png") no-repeat;
    background-position: 7px;
    background-size: 690px auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .slider__thin-cat {
      background: url("../img/after-tablet@2x.png") no-repeat;
      background-position: 98%;
      background-size: 690px auto;
    }

    .slider__fat-cat {
      background: url("../img/before-tablet@2x.png") no-repeat;
      background-position: 7px;
      background-size: 690px auto;
    }
  }

  .slider__frame {
    justify-content: space-between;

    width: 570px;
    margin-top: 18px;
    margin-bottom: 69px;
  }

  .slider__scale {
    width: 428px;
    height: 6px;

    border: none;
    background-color: #dcdcdc;
  }

  .slider__scale-wrapper {
    position: relative;

    width: 396px;
    height: 6px;
    margin-right: auto;
    margin-left: auto;

    border: none;
    background-color: transparent;
  }

  .slider__button {
    position: absolute;
    top: -18px;
    left: 51%;

    display: block;

    width: 32px;
    height: 32px;
    padding: 0;

    transform: translateX(-50%);

    border: 12px solid #ffffff;
    border-radius: 16px;
    background-color: $color-bg-btn;
    box-shadow: 0 0 0 1px #cecece, 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 0 0 1px #cecece, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 0 0 1px #68b738, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .slider__after,
  .slider__before {
    padding: 0 0 5px;

    border-bottom: 1px dotted #bebebe;

    font-size: 20px;

    &:hover {
      border-bottom: 1px solid #bebebe;
    }

    &:active {
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 650px;
    margin-right: 0;
  }

  .slider__thin-cat {
    position: relative;

    width: 50%;
    height: 517px;

    background: url("../img/after-desktop@1x.png") no-repeat;
    background-position: right;
    background-size: 690px auto;
  }

  .slider__fat-cat {
    position: relative;

    width: 50%;
    height: 517px;

    background: url("../img/before-desktop@1x.png") no-repeat;
    background-position: -40px;
    background-size: 690px auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .slider__thin-cat {
      background: url("../img/after-desktop@2x.png") no-repeat;
      background-position: right;
      background-size: 690px auto;
    }

    .slider__fat-cat {
      background: url("../img/before-desktop@2x.png") no-repeat;
      background-position: -40px;
      background-size: 690px auto;
    }
  }

  .slider__frame {
    margin-top: 40px;
    margin-bottom: 69px;
  }
}
