@mixin mobile-center {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

@mixin tablet-center {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;
}

@mixin desktop-center {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 40px;
}

@mixin section-title($font: #111111, $size:36px, $height: 60px) {
  color: $font;

  font-family: $title-font;
  font-size: $size;
  font-weight: 400;
  line-height: $height;
}

@mixin center {
  margin-right: auto;
  margin-left: auto;
}

@mixin tablet-fonts ($size: 20px, $height: 20px) {
  font-size: $size;
  line-height: $height;
}
