$main-font: "Arial", "Verdana", sans-serif;
$title-font: "Oswald", "Arial", sans-serif;
$color-title: #111111;
$color-text: #444444;
$color-border: #d6d6d6;
$color-bg: #64a83b;
$color-bg-btn: #68b738;
$color-hv-btn: #5eaa2f;
$color-bg-block: #f2f2f2;
$tablet-width: 768px;
$desktop-width: 1300px;
